# Lab | Inferential statistics - T-test & P-value


Instructions
1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test. 

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png

Degrees of freedom is (n1-1)+(n2-1).

In [1]:
import pandas as pd
import scipy.stats as stats

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test.

In [3]:
df = pd.read_csv(r"C:\Users\ssai\OneDrive\Data_26-07\labs\lab-t-tests-p-values\files_for_lab/machine.txt", encoding='utf-16', sep='\t')

In [4]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [6]:
new = df.iloc[:, 0]
old = df.iloc[:, 1]

* H0: New machine is not better
* HA: New machine is not faster

In [7]:
ttest, pvalue = stats.ttest_ind(new, old, alternative = "less")
print("pvalue:", pvalue)
if pvalue < 0.05:
    print("reject Null Hypothesis")
else:
    print("no evidence to reject Null Hypothesis")

pvalue: 0.0016055712503872579
reject Null Hypothesis

2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

In [9]:
df = pd.read_csv(r"C:\Users\ssai\OneDrive\Data_26-07\labs\lab-t-tests-p-values\files_for_lab/student_gpa.txt", sep='\t')

In [10]:
df

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [11]:
soph = df.iloc[:,0]

In [12]:
jun = df.iloc[:,1]
jun = jun[~jun.isna()]
jun

0     2.56
1     2.77
2     2.70
3     3.00
4     2.98
5     3.47
6     3.26
7     3.20
8     3.19
9     2.65
10    3.00
11    3.39
12    2.58
Name:   Juniors, dtype: float64

In [14]:
def homocedasticity(group1, group2, significance):
    test_stats_var, p_value_var = stats.levene(group1, group2)
    print("pvalue: ", p_value_var)
    if p_value_var < significance:
        print("Variance not the same")
    else:
        print("no evidence to reject: Variance same")

In [15]:
homocedasticity(soph, jun, 0.05)

pvalue:  0.20163821354486944
no evidence to reject: Variance same

* H0: Juniors and Sohpmores are equally good

In [16]:
test, pvalue = stats.ttest_ind(soph, jun)
print("pvalue", pvalue)
if pvalue < 0.05:
    print("reject null hypothesis")
else:
    print("no evidence to reject")

pvalue 0.39475359666695975
no evidence to reject

* Sophmores and Juniors are equally good!